<div class="div-authentication-container reset-password">
    <div class="div-authentication-header reset-password">
        <p class="sign-up-title">Sign up</p>
    </div>
    <div class="div-authentication-content">
        <form name="formAuthenticationResetPassword" class="form-reset-password-content">
            <div class="div-reset-password-container-content">
                <md-input-container class="md-input-container-authentication">
                    <label>Enter your Email</label>
                    <input ng-model="email" type="text" name="email" required ng-change="change()">
                    <div ng-messages="formAuthenticationResetPassword.email.$error" ng-if='formAuthenticationResetPassword.email.$dirty'>
                        <div ng-message="required">You can not leave this empty.</div>
                    </div>
                </md-input-container>
            </div>
            
            <div class="div-reset-password-container-button">
                <md-button class="button-authentication md-raised md-primary" ng-click="clickedSendButtonLogin()" ng-disabled="formAuthenticationResetPassword.$invalid">
                    <span ng-hide="loading">Login</span>
                    <md-progress-circular md-mode="indeterminate" md-diameter="30" ng-show="loading"></md-progress-circular>
                </md-button>
            </div>
        </form>
    </div>
    <div class="div-authentication-footer" layout="row">
        <div class="footer-container-link left"></div>
        <a href="#/Login" class="footer-container-link right" >Go back to Login</a>
    </div>
</div>