<div class="div-authentication-container sign-up">
    <div class="div-authentication-header" layout="row">
        <div class="div-sign-up-header-logo left">
            <img class="imageLogo" src="/images/logo.png">
        </div>
        <div class="div-sign-up-header-title right">
            <p class="sign-up-title">Sign up</p>
        </div>
    </div>
    <div class="div-authentication-content">
        <form name="formAuthenticationSignUp" novalidate class="form-sign-up-content">
            <div class="div-sign-up-container-content-of-row" layout="row">
                <div class="div-sign-up-container-content-input left">
                    <md-input-container class="md-input-container-authentication">
                        <label>First name (Option)</label>
                        <input ng-model="firstName" type="text" name="firstName" ng-change="change()">
                    </md-input-container>
                </div>
                <div class="div-sign-up-container-content-input right">
                    <md-input-container class="md-input-container-authentication">
                        <label>Last name (Option)</label>
                        <input ng-model="lastName" type="text" name="lastName" ng-change="change()">
                    </md-input-container>
                </div>
            </div>
            
            <div class="div-sign-up-container-content-input">
                <md-input-container class="md-input-container-authentication">
                    <label>Address (Option)</label>
                    <input ng-model="address" type="text" name="address" ng-change="change()">
                </md-input-container>
            </div>
            
            <div class="div-sign-up-container-content-of-row" layout="row">
                <div class="div-sign-up-container-content-input left">
                    <md-input-container class="md-input-container-authentication">
                        <label>Email</label>
                        <input ng-model="email" type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" name="email" required="" ng-change="change()">
                        <div ng-messages="formAuthenticationSignUp.email.$error">
                            <div ng-message="required">You can not leave this empty.</div>
                            <div ng-message="email">Invalid email.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="div-sign-up-container-content-input right">
                    <md-input-container class="md-input-container-authentication">
                        <label>Phone number</label>
                        <input ng-model="phoneNumber" type="text" name="phoneNumber" required="" ng-change="change()">
                        <div ng-messages="formAuthenticationSignUp.phoneNumber.$error">
                            <div ng-message="required">You can not leave this empty.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            
            <div class="div-sign-up-container-content-of-row" layout="row">
                <div class="div-sign-up-container-content-input left">
                    <md-input-container class="md-input-container-authentication">
                        <label>Password</label>
                        <input ng-model="password" type="password" name="password" md-maxlength="20" minlength="8" required = "" ng-change="change()">
                        <div ng-messages="formAuthenticationSignUp.password.$error">
                            <div ng-message="required">You can not leave this empty.</div>
                            <div ng-message="md-maxlength">Require less than 20 characters.</div>
                            <div ng-message="minlength">Require more than 8 characters.</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="div-sign-up-container-content-input right">
                    <md-input-container class="md-input-container-authentication">
                        <label>Password again</label>
                        <input ng-model="passwordAgain" type="password" name="passwordAgain" md-maxlength="20" minlength="8" required = "" ng-change="change()" compare-to="password">
                        <div ng-messages="formAuthenticationSignUp.passwordAgain.$error">
                            <div ng-message="required">You can not leave this empty.</div>
                            <div ng-message="compareTo">Must match the previous entry</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            
            <div class="div-sign-up-container-button">
                <md-button class="button-authentication md-raised md-primary" ng-click="signUp()" ng-disabled="formAuthenticationSignUp.$invalid">
                    <span ng-hide="loading">Sign up</span>
                    <md-progress-circular md-mode="indeterminate" md-diameter="30" ng-show="loading"></md-progress-circular>
                </md-button>
                <notification ng-model = "resultSignUp.mes" flex></notification>
            </div>
        </form>
    </div>
    <div class="div-authentication-footer" layout="row">
        <div class="footer-container-link left"></div>
        <a href="#/Login" class="footer-container-link right" >Go back to Login</a>
    </div>
</div>