@media (max-width: 767px) {
    .md-toolbar-header {
        height: 50px;
    }
    .md-icon-button.md-button.md-ink-ripple.hide-gt-sm {
        margin-top: 6px;
    }
    .md-dialog-add-new-menu{
        width: 400px;
    }
    .md-toolbar-dialog-map {
        width: 400px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .md-toolbar-header {
        height: 56px;
    }
    .md-icon-button.md-button.md-ink-ripple.hide-gt-sm {
        margin-top: 7px;
    }
    .md-dialog-add-new-menu{
        width: 500px;
    }
    .md-toolbar-dialog-map {
        width: 600px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) { 
    .md-toolbar-header {
        height: 56px;
    }
    .md-icon-button.md-button.md-ink-ripple.hide-gt-sm {
        margin-top: 7px;
    }
    .md-dialog-add-new-menu{
        width: 550px;
    }
    .md-toolbar-dialog-map {
        width: 800px;
    }
}
@media (min-width: 1200px) {
    .md-toolbar-header {
        height: 56px;
    }
    .md-icon-button.md-button.md-ink-ripple.hide-gt-sm {
        margin-top: 7px;
    }
    .md-dialog-add-new-menu{
        width: 700px;
    }
    .md-toolbar-dialog-map {
        width: 900px;
    }
}

.div-dashboard {
    height: 100%;
}

.imageLogo {
    width: 200px;
    height: 200px;
}
.div-header-sidenav {
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.h1-header-sidenav {
    text-transform: none;
    color: sandybrown;
    font-size: 27px;
    margin: 0 0 10px 0;
}
.div-header-toolbar {
    height: 100%;
    margin: 0 10px;
    color: sandybrown;
}
md-toolbar:not(.md-menu-toolbar) {
    background-color: #333333;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5), 0 0 4px 0 rgba(0, 0, 0, 0.45);
}
md-toolbar.md-menu-toolbar{
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
}

.link-header-sidnav {
    text-decoration: none;
}
.h2-header-toolbar-title {
    margin: auto 0;
}
.link-header-toolbar-logout {
    margin: auto 0 auto auto;
    color: sandybrown;
    text-decoration: none;
}
.md-content-sidenav {
    height: 100%;
}
.fill-height{
  display: flex;
  flex: 1;
  min-height: 100%;
}

.fill-height > div{
  min-height: 100%;
  display: flex;
}

md-sidenav {
  overflow: visible;
  background-color:#333333;
  
}
.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  background-color:#333333;
}

.side-menu .md-button.active {
  background-color: #ebebeb;
  border-radius: 0;
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding-left: 30px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 200;
  border-radius: 0;
  font-size: 17px;
}

.md-button-toggle{
  text-transform: none;
  color: #a3aab4;
  font-size: 18px;
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.side-menu .md-button-toggle .md-toggle-icon{
  background-size: 100% auto;
  display: inline-block;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
    border-radius: 0;
    color: #a3aab4;
    cursor: pointer;
    display: block;
    align-items: inherit;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0px 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.icon-sidenav {
    padding-right: 10px;
}

.format-font-sidenav {
    color: sandybrown;
}

.div-header-dashboard {
    margin-bottom: 5px; 
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.45);
}
.md-content.md-default-theme, md-content{
    background-color: #333333;
}
.md-sidenav-left.md-whiteframe-z1{
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5), 0 0 6px 0 rgba(0, 0, 0, 0.45);
}
.md-content-dashboard {
    background-color: #efefef;
    margin: 10px;
}

.md-button-icon-mini.md-icon-button {
    width: 36px;
    height: 36px;
    padding: 0px;
    line-height: 36px;
}

.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}

.nodrop {
    background-color: #f2dede;
}

.tree-handle {
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.div-title-tree-view {
    margin: auto 0 auto 5px;
}
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
}

.angular-ui-tree-handle:hover {
    color: #104E8B;
    background: #ADD8E6;
    border-color: #9AC0CD;
}

.angular-ui-tree-handle-selected{
    color: #104E8B;
    background: #ADD8E6;
    border-color: #9AC0CD;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}
.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}
.li-non-number{
    list-style-type: none;
}
.md-button-dashboard.md-raised.md-primary{
    padding: 0 10px;
    text-transform: none;
    font-size: 16px;
    font-weight: 600;
}
.md-content-input-info {
    background-color: #f8faff;
}
.div-title-field {
    margin: 7px 10px auto auto;
}
.span-title-field {
    float: right;
}
.div-field-input {
    height: 77px;
}
md-input-container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.div-dashboard-container-content {
    padding: 10px;
}
.tree-view {
    border-right: 4px gray groove
}
.img-dashboard-upload {
    width: 60px;
    height: 60px;
}
.md-button-show-hiden-mouse-enter-leave.md-fab.md-mini.md-warn {
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin: -50% 0 0 -50%;
}
.ul-list-image {
    list-style: none;
    padding: 0;
}
.div-thumbsshell {
    width: 80%;
    margin: 10px;
}

.div-thumbswrapper {
    overflow-x: scroll;
    width: 75%;
}

.md-content-container-menu-item {
    background: #f8faff;
    border: 1px solid #dae2ea;
    margin: 0 10px 10px 10px;
}
.div-dashboard-price-point {
    margin: 0 3px;
}
.div-dashboard-menuItem-pricepoint {
    border-right: 1px  black groove;
}
.md-checkbox-dashboard-status {
    margin-top: 8px;
}
md-checkbox.md-checked .md-icon {
    background-color: #EE7621;
}
.md-content.md-default-theme, md-content #create-restaurant{
    background-color: rgba(0, 0, 0, 0);
}
.angular-google-map-container { height: 400px; width: 100%;}
