@media (max-width: 767px) {
    .login-container {
        width: 400px;
    }
    .form-login-content {
        width: 400px;
    }
    .sign-up {
        width: 400px;
    }
    .form-sign-up-content {
        width: 370px;
        margin: 0 15px;
    }
    .reset-password {
        width: 400px;
    }
    .form-reset-password-content {
        width: 370px;
        margin: 0 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .login-container {
        width: 450px;
    }
    .form-login-content {
        width: 450px;
    }
    .sign-up {
        width: 500px;
    }
    .form-sign-up-content {
        width: 460px;
        margin: 0 20px;
    }
    .reset-password {
        width: 500px;
    }
    .form-reset-password-content {
        width: 460px;
        margin: 0 20px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) { 
    .login-container {
        width: 500px;
    }
    .form-login-content {
        width: 500px;
    }
    .sign-up {
        width: 700px;
    }
    .form-sign-up-content {
        width: 640px;
        margin: 0 30px;
    }
    .reset-password {
        width: 700px;
    }
    .form-reset-password-content {
        width: 640px;
        margin: 0 30px;
    }
}
@media (min-width: 1200px) {
    .login-container {
        width: 500px;
    }
    .form-login-content {
        width: 500px;
    }
    .sign-up {
        width: 800px;
    }
    .form-sign-up-content {
        width: 740px;
        margin: 0 30px;
    }
    .reset-password {
        width: 800px;
    }
    .form-reset-password-content {
        width: 740px;
        margin: 0 30px;
    }
}

#imgBackground {
    min-height: 260px;
    min-width: 560px;
    width: 100%;
    height: 100%;
    position: fixed;
}

.div-authentication-container {
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 4px;
    font-family: Roboto;
}

.div-authentication-header.login {
    text-align: center;
}
.imageLogo {
    width: 200px;
    height: 200px;
}

.div-login-input-content {
    width: 90%;
    margin: 0 auto;
}

.md-input-container-authentication {
    width: 100%;
}

.div-content-buttonLogin-and-messages {
    text-align: center;
    width: 100%
}

.div-login-messages {
    width: 60%;
    margin: 0 auto;
}

.div-login-container-button {
    margin: 0 auto;
    text-align: center
}

.button-authentication.md-raised.md-primary {
    width: 150px;
    height: 50px;
    background-color: orange;
    text-transform: none;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
}

.div-authentication-footer {
    margin: 5px;
    height: 30px;
}

.footer-container-link {
    text-transform: none;
    color: sandybrown;
    font-size: 14px;
    text-decoration: none;
}

.left {
    margin-left: 20px;
    margin-right: auto;
}

.right {
    margin-right: 20px;
    margin-left: auto;
}

.div-sign-up-header-title {
    margin-bottom: auto;
    margin-top: auto;
}

.sign-up-title {
    font-size: xx-large;
    color: sandybrown
}

.div-sign-up-container-content-input.left {
    width: 100%;
    padding-right: 10px;
    margin: 0;
}

.div-sign-up-container-content-input.right {
    width: 100%;
    padding-left: 10px;
    margin: 0;
}
.div-reset-password-container-content {
    margin: 0 5px;
    font-size: 22px;
}

.div-authentication-header.reset-password {
    margin-left: 40px;
}

/*
.p-authentication-container-header {
    margin: 0;
}

.div-authentication-container-content {
    font-size: 22px;
    color: #999999;
}

.div-authentication-container-footer {
    font-size: 22px;
    color: #999999;
    margin: 15px 0 0;
}

.div-authentication-container-button.md-raised.md-primary {
    width: 170px;
    height: 45px;
    background-color: #57B856;
    text-transform: none;
    border-radius: 6px;
    font-size: 22px;
    font-weight: bold;
}

.div-authentication-container-link {
    text-transform: none;
    color: #00aeef;
    font-size: 14px;
    text-decoration: none;
}

.reset-password .div-authentication-container-link {
    float: right;
    margin-top: -15px;
}

.dashboard-message-error {
  margin-top: 0;
  color: rgb(244,67,54);
  font-size: 16px;
}
/*----------------- Sign Up -----------------*/
/*.div-authentication-container.sign-up {
    width: 750px;
    padding: 50px;
}
.mdContent-authentication-container-content{
    clear: both;
}
.sign-up .div-authentication-container-content {
    font-size: 18px;
}

.sign-up .div-authentication-container-content.md-input-container {
    padding-bottom: 15px;
}

.sign-up .div-authentication-container-content.firstname,.sign-up .div-authentication-container-content.password,.sign-up .div-authentication-container-content.companyname,.sign-up .div-authentication-container-content.email {
    width: 50%;
    margin-right: 15px;
}

.sign-up .div-authentication-container-content.lastname,.sign-up .div-authentication-container-content.password-again,.sign-up .div-authentication-container-content.phonenumber,.sign-up .div-authentication-container-content.companyaddress {
    width: 50%;
    margin-left: 15px;
}

.sign-up .div-authentication-container-header p {
    font-size: 36px;
    float: right;
    color: #00aeef;
}

.sign-up .div-authentication-container-header img {
    float: left;
}

.sign-up .div-authentication-container-content-footer {
    padding-left: 13px;
    padding-right: 13px;
}

.div-authentication-container-content-footer-note {
    font-size: 14px;
    color: #999999;
}

.sign-up .div-authentication-container-content-footer-note.left-note{
    float: left;
}

.sign-up .div-authentication-container-content-footer-note.right-note,.sign-up .div-authentication-container-content-footer-link {
    float: right;
}

.sign-up .div-authentication-container-button.md-raised.md-primary{
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.sign-up .div-authentication-container-content-footer-note.left-note span {
    color: #00aeef;
}

/*------------------ Set new password -------------------*/

/*.set-new-password .div-authentication-container-footer{
    text-align: center;
    margin: 0 auto;
}

.set-new-password .div-authentication-container{
    width: 500px;
    padding: 40px;
}

/*------------------------------------------*/
/*.div-title-verifyPhoneNumber {
    color: #999999;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
}

.div-showCenter {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
/* class for animation of verifyPhone */
/*.div-code {
    -moz-transition: .3s linear all;
    -o-transition: .3s linear all;
    -webkit-transition: .3s linear all;
    transition: .3s linear all;
    height: 150px;
    overflow: hidden;
}

    .div-code.ng-hide {
        height: 0;
    }
/* end class for animation of verifyPhone*/

/*---------------------------------------------*/
/*.login-container {
    width: 450px;
    padding: 0;
}

.div-margin-topbottom-imageLogo {
    width: 438px;
    margin-top: 10px;
    margin-bottom: 65px;
}

.div-margin-topbottom-buttonLogin {
    margin-top: 25px;
    margin-bottom: 20px;
    width: 438px;
}

*/
