<md-dialog>
    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
        <h2>Types Of Restaurant</h2>
        <span flex></span>
        <md-button aria-label="Search" class="md-icon-button" ng-click="showSearch = !showSearch">
            <md-icon>search</ng-md-icon>
        </md-button>
        </div>
    </md-toolbar>
    
    <md-toolbar ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-input-container flex>
                <label>&nbsp;</label>
                <input ng-model="search.type" placeholder="enter search">
            </md-input-container>
            <md-button aria-label="Search" class="md-icon-button" ng-click="showSearch = !showSearch">
                <md-icon>search</ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-list>
                <md-item ng-repeat="type in listTypesOfRestaurant | filter:search">
                    <div layout="row">
                        <div class="md-tile-content">
                            <span>{{type.type}}</span>
                        </div>
                        <span flex></span>
                        <md-checkbox ng-model="type.select"></md-checkbox>
                    </div>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="saveTypeOfRestaurant()">
            Save
        </md-button>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>