<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
        <h2>Option</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon aria-label="Close dialog" class="md-icon-close">close</md-icon>
        </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <h2>Direction</h2>
            <p>1/ Press </p>
            <p>2/  </p>
            <div>
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column>#</th>
                                <th md-column>Name size</th>
                                <th md-column>Price</th>
                                <th md-column>Interaction</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="option in optionSet">
                                <td md-cell>{{$index + 1}}</td>
                                <td md-cell>{{option.name}}</td>
                                <td md-cell>{{option.price + " " + option.currencyUnit}}</td>
                                <td md-cell>
                                    <a style="text-transform: none; color: #00aeef; font-size: 14px; text-decoration: none;cursor: pointer;padding-right: 4px;" ng-click="removeOneOptionSet(option.id)">remove</a>
                                    <span>|</span>
                                    <a style="text-transform: none; color: #00aeef; font-size: 14px; text-decoration: none;cursor: pointer;" ng-click="editOneOptionSet(option.id);">edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                
                <form name="formDashboardOption">
                    <div layout="row">
                        <div>
                            <md-input-container>
                                <label>Name</label>
                                <input ng-model="nameOption" type="text" name="nameOption" ng-change="change()" required=""/>
                            </md-input-container>
                            <div ng-messages="formDashboardOption.nameOption.$error" ng-if='formDashboardOption.nameOption.$dirty'>
                                <div ng-message="required">You can not leave this empty.</div>
                            </div>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Price</label>
                                <input ng-model="priceOption" type="text" name="priceOption" ng-change="change()" required=""/>
                            </md-input-container>
                            <div ng-messages="formDashboardOption.priceOption.$error" ng-if='formDashboardOption.priceOption.$dirty'>
                                <div ng-message="required">You can not leave this empty.</div>
                            </div>
                        </div>
                        <div>
                            <md-input-container>
                                <label>Currency</label>
                                <md-select ng-model="currencyUnitOption">
                                    <md-option ng-repeat="currency in moreCurrency" value="{{currency.unit}}">
                                        {{currency.unit}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div>
                            <md-button ng-click="removeOneOptionSet(option.id)" ng-disabled="formDashboardOption.$invalid">
                                Create new option set
                            </md-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="saveOption()">
            Save
        </md-button>
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
    </md-dialog-actions>
</md-dialog>