<div>
    <div>
        <h2>Menu Category</h2>
    </div>
    <md-content class="md-content-input-info">
        <form name="formDashboardInputInfo">
            <div layout="row" class="div-field-input">
                <div flex="33" class="div-title-field">
                    <span class="span-title-field">Menu Category Name</span>
                </div>
                <div flex >
                    <md-input-container md-no-float>
                        <input ng-model="node.name" type="text" name="menuCategoryName" required="" placeholder="Enter menu category name">
                        <div ng-messages="formDashboardInputInfo.menuCategoryName.$error" ng-if='formDashboardRestaurantInfo.menuCategoryName.$dirty'>
                            <div ng-message="required">You can not leave this empty.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <div layout="row" class="div-field-input">
                <div flex="33" class="div-title-field">
                    <span class="span-title-field">Menu Category Status</span>
                </div>
                <div flex >
                    <md-input-container md-no-float>
                        <input ng-model="node.status" type="text" name="menuCategoryStatus" required="" placeholder="Enter menu Category status">
                        <div ng-messages="formDashboardInputInfo.menuCategoryStatus.$error" ng-if='formDashboardRestaurantInfo.menuCategoryStatus.$dirty'>
                            <div ng-message="required">You can not leave this empty.</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
            <md-button class="md-primary md-raised" ng-click="showDialog($event)">Upload images</md-button>
            
            <div class="div-thumbsshell" layout="row">
                <div class="div-thumbswrapper">
                    <ul class="ul-list-image" id="listImage" layout="row">
                        <li ng-repeat="image in uploadedImages" style="width: 99.969px">
                            <div style="width: 99.969px">
                                <img ng-mouseenter="showIt()" ng-mouseleave="hideIt()" class="img-dashboard-upload" ng-src="{{image}}"/>
                                <md-button ng-mouseenter="showIt()" ng-mouseleave="hideIt()" ng-show="showButton" ng-click="deleteImage(image)" class="md-button-show-hiden-mouse-enter-leave md-fab md-mini md-warn">
                                    <md-icon style="font-size: 18px; width: 18px; height: 18px;">close</md-icon>
                                </md-button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </md-content>
</div>